<div class="control-group">
  <label for="title" class="control-label">Title</label>
  <div class="controls">
    <%- contentTag('input', product.title, {type:'text', class:'span6', name:'title'}) %>
  </div>
</div>
<div class="control-group">
  <label for="description" class="control-label">Description</label>
  <div class="controls">
    <%- contentTag('input', product.description, {type:'text', class:'span6', name:'description'}) %>
  </div>
</div>
<div class="control-group">
  <label for="price" class="control-label">Price</label>
  <div class="controls">
    <%- contentTag('input', product.price, {type:'text', class:'span6', name:'price'}) %>
  </div>
</div>
<div class="control-group">
  <label for="photo" class="control-label">Photo</label>
  <div class="controls">
    <%- contentTag('input', product.photo, {type:'text', class:'span6', name:'photo'}) %>
  </div>
</div>
