<div class="hero-unit">
  <h2>All Products</h2>
  <%- linkTo('Create a new Product', addProductPath, {class: 'btn pull-right'}); %>
</div>

<div id="products-list">
	<% if (products) { %>
		<% for (var i = 0, ii = products.length; i < ii; i++) { %>
		  <div class="item" id="product-<%= products[i].id; %>">
		      <h3><%- linkTo(products[i].title, productPath(products[i].id)); %></h3>
		  </div>
		<% } %>
	<% } %>
</div>